--
-- PostgreSQL database dump
--

\restrict IAnzphzqvotPMkBymRltpzzTUIEw8rL1Pnvgu2RjFfK5zBwyZAyFdByijpkNyNk

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alertas_preco; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.alertas_preco (
    id integer NOT NULL,
    usuario_id integer NOT NULL,
    produto text NOT NULL,
    preco numeric(12,2) NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    CONSTRAINT alertas_preco_preco_check CHECK ((preco > (0)::numeric))
);


--
-- Name: alertas_preco_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.alertas_preco_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: alertas_preco_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.alertas_preco_id_seq OWNED BY public.alertas_preco.id;


--
-- Name: feedbacks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.feedbacks (
    id integer NOT NULL,
    usuario_id integer NOT NULL,
    nome character varying(160) NOT NULL,
    email character varying(160) NOT NULL,
    feedback text NOT NULL,
    data_envio timestamp without time zone DEFAULT now()
);


--
-- Name: feedbacks_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.feedbacks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: feedbacks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.feedbacks_id_seq OWNED BY public.feedbacks.id;


--
-- Name: produtos_kabum; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.produtos_kabum (
    id integer NOT NULL,
    nome text NOT NULL,
    preco numeric(12,2) NOT NULL,
    link text NOT NULL,
    imagem_url text,
    imagens_urls text,
    CONSTRAINT produtos_kabum_preco_check CHECK ((preco >= (0)::numeric))
);


--
-- Name: produtos_kabum_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.produtos_kabum_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: produtos_kabum_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.produtos_kabum_id_seq OWNED BY public.produtos_kabum.id;


--
-- Name: produtos_mercadolivre; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.produtos_mercadolivre (
    id integer NOT NULL,
    nome text NOT NULL,
    preco numeric(12,2) NOT NULL,
    link text NOT NULL,
    imagem_url text,
    CONSTRAINT produtos_mercadolivre_preco_check CHECK ((preco >= (0)::numeric))
);


--
-- Name: produtos_mercadolivre_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.produtos_mercadolivre_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: produtos_mercadolivre_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.produtos_mercadolivre_id_seq OWNED BY public.produtos_mercadolivre.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    nome character varying(160) NOT NULL,
    email character varying(160) NOT NULL,
    senha text NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: alertas_preco id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alertas_preco ALTER COLUMN id SET DEFAULT nextval('public.alertas_preco_id_seq'::regclass);


--
-- Name: feedbacks id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.feedbacks ALTER COLUMN id SET DEFAULT nextval('public.feedbacks_id_seq'::regclass);


--
-- Name: produtos_kabum id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.produtos_kabum ALTER COLUMN id SET DEFAULT nextval('public.produtos_kabum_id_seq'::regclass);


--
-- Name: produtos_mercadolivre id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.produtos_mercadolivre ALTER COLUMN id SET DEFAULT nextval('public.produtos_mercadolivre_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Data for Name: alertas_preco; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.alertas_preco (id, usuario_id, produto, preco, created_at) FROM stdin;
\.


--
-- Data for Name: feedbacks; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.feedbacks (id, usuario_id, nome, email, feedback, data_envio) FROM stdin;
\.


--
-- Data for Name: produtos_kabum; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: produtos_mercadolivre; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.usuarios (id, nome, email, senha, created_at) FROM stdin;
\.


--
-- Name: alertas_preco_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.alertas_preco_id_seq', 1, false);


--
-- Name: feedbacks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.feedbacks_id_seq', 1, false);


--
-- Name: produtos_kabum_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.produtos_kabum_id_seq', 72, true);


--
-- Name: produtos_mercadolivre_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.produtos_mercadolivre_id_seq', 10, true);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 1, false);


--
-- Name: alertas_preco alertas_preco_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alertas_preco
    ADD CONSTRAINT alertas_preco_pkey PRIMARY KEY (id);


--
-- Name: feedbacks feedbacks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.feedbacks
    ADD CONSTRAINT feedbacks_pkey PRIMARY KEY (id);


--
-- Name: produtos_kabum produtos_kabum_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.produtos_kabum
    ADD CONSTRAINT produtos_kabum_pkey PRIMARY KEY (id);


--
-- Name: produtos_mercadolivre produtos_mercadolivre_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.produtos_mercadolivre
    ADD CONSTRAINT produtos_mercadolivre_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: idx_alertas_usuario; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_alertas_usuario ON public.alertas_preco USING btree (usuario_id);


--
-- Name: idx_feedbacks_usuario; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_feedbacks_usuario ON public.feedbacks USING btree (usuario_id);


--
-- Name: idx_kabum_nome; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_kabum_nome ON public.produtos_kabum USING gin (to_tsvector('portuguese'::regconfig, nome));


--
-- Name: idx_mercadolivre_nome; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_mercadolivre_nome ON public.produtos_mercadolivre USING gin (to_tsvector('portuguese'::regconfig, nome));


--
-- Name: alertas_preco alertas_preco_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alertas_preco
    ADD CONSTRAINT alertas_preco_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- Name: feedbacks feedbacks_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.feedbacks
    ADD CONSTRAINT feedbacks_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict IAnzphzqvotPMkBymRltpzzTUIEw8rL1Pnvgu2RjFfK5zBwyZAyFdByijpkNyNk

